
body {
    text-aling:center;
    cursor: none;
    cursor: crosshair;
    text-align:center;
    padding-left:10%;
    padding-right:10%;
    background-image:url('/imgs/background.jpg');
    background-size:fit;
}


#canvas {
    outline:1px solid black;
    
    top:0px;
    left:0px;
    --margin-top:10px;
    background-position:0px 0px;
    background-repeat:no-repeat;
    width:500px;
    display:inline-block;
    background-size: 1000px 1000px;
    background-image:url('/imgs/map2.jpg');
    height:500px;
    display:inline-block;
    
}
#map {
    position:absolute;
    top:0px;
    left:0px;
    width:500px;
    height:500px;
   -- display:inline-block;
}
#gameHolder{
    text-align:center;
    
    position:relative;
}
.hidden {
    display:none;
}

.standard {
    width:100px;
    height:100px;
}
#application {
    opacity:0.9;

}

h5 {
    color:white;
    font-size:36px;
}